flask
flask-cors
flask-login
flask-sqlalchemy
flask-apscheduler
python-dotenv
requests
paramiko
cryptography
openai
fpdf
qrcode[pil]
Pillow
dnspython
psycopg2-binary
google-generativeai
gunicorn
pytest
